*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.h{
    max-width: 500px;
    min-height: 200px;
    background-color: rgba(255, 0, 0, 0.317);
    
    
}